@font-face {
  font-family: "Trip";
  src: url("../Fonts/45333fa327abe74ef6001f9a2947b1ac.eot");
  src: url("../Fonts/45333fa327abe74ef6001f9a2947b1ac.svg")
      format("embedded-opentype"),
    url("../Fonts/45333fa327abe74ef6001f9a2947b1ac.ttf") format("woff2"),
    url("../Fonts/45333fa327abe74ef6001f9a2947b1ac.woff") format("woff"),
    url("../Fonts/45333fa327abe74ef6001f9a2947b1ac.woff2") format("truetype"),
    url("45333fa327abe74ef6001f9a2947b1ac.svg#.") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trip sans regular";
  src: url("../Fonts/TripSans-Regular.eot");
  src: url("../Fonts/TripSans-Regular.svg") format("embedded-opentype"),
    url("../Fonts/TripSans-Regular.ttf") format("woff2"),
    url("../Fonts/TripSans-Regular.woff") format("woff"),
    url("../Fonts/TripSans-Regular.woff2") format("truetype"),
    url("TripSans-Regular.svg#TripSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
